In [72]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [73]:
import pandas as pd

# Carregar o CSV
dataset = pd.read_csv("tempo.csv", sep=";")

# Exibir as primeiras 5 linhas
print(dataset.head())

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [74]:
df = pd.read_csv('tempo.csv', sep=';')
df = pd.DataFrame({
    'Aparencia': df['Aparencia'],
    'Temperatura': df['Temperatura'],
    'Umidade': df['Umidade'],
    'Vento': df['Vento'],
    'Jogar': df['Jogar']
})
df.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [75]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [76]:
dataset['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [77]:
dataset['Umidade'].fillna(mediana, inplace=True)

/tmp/ipython-input-77-3731535888.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Umidade'].fillna(mediana, inplace=True)

In [78]:
mediana = sts.median(dataset['Umidade'])
mediana

85.0

In [79]:
dataset['Umidade'].isnull().sum()

np.int64(0)

In [80]:
dataset['Umidade'].describe()

count     14.000000
mean      89.428571
std       33.209624
min       65.000000
25%       71.250000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [81]:
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100)]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva           75    200.0   NaN   sim

In [82]:
dataset.loc[(dataset['Umidade'] < 0 ) | (dataset['Umidade'] > 100 ), 'Umidade'] = mediana

In [83]:
dataset['Umidade'].describe()

count    14.000000
mean     81.214286
std       9.552918
min      65.000000
25%      71.250000
50%      85.000000
75%      89.000000
max      95.000000
Name: Umidade, dtype: float64

In [84]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [85]:
mediana = dataset['Umidade'].median()
dataset['Umidade'] = dataset['Umidade'].fillna(mediana)

In [86]:
import pandas as pd


dataset = pd.read_csv("tempo.csv", sep=";")


print(dataset.head())

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [87]:
print(dataset['Umidade'].dtype)

float64

In [88]:
print(dataset['Umidade'].isna().sum())

1

In [89]:
import numpy as np

dataset['Umidade'] = dataset['Umidade'].replace(['NA', 'None'], np.nan)

In [90]:
dataset['Umidade'] = dataset['Umidade'].fillna(mediana)

In [91]:
print(dataset['Umidade'].isna().sum())
print(dataset.head())

0
  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70     85.0       FALSO   sim
4     chuva           68     80.0       FALSO   sim